<div class="container-fluid pt-20">
  <% if current_user && current_user.admin? %>
    <%= link_to 'New Post', new_blog_path, class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Back', root_path, class: 'btn btn-secondary' %>

  <h1>Newsletters</h1>

  <div id="blogs" class="d-flex flex-wrap">
    <% @blogs.each do |blog| %>
      <div  id="card"
            class="d-flex flex-row bg-light border-shadow mb-20 ml-10 border-radius"
            style="min-width: 380px; max-width: 380px;">
        <a href="#"></a>
        <div  id="card-picture"
              class="d-flex align-items-center justify-content-center"
              style="width: 100px;height: 100px;">
          <% if blog.picture.attached? %>
            <%= image_tag blog.picture.variant(:thumb) %>
          <% else %>
            <%= image_tag 'cast.svg', width: "60", height: "60",
                class: "avatar-large bg-dark" %>
          <% end %>
        </div>
        <div  id="card-description" 
              class="ml-15 d-flex flex-column bg-light justify-content-between">
          <div  id="card-description-author"
                class="color-dark fs-0-8">
            <%= blog.user.username %>
          </div>
          <div  id="card-description-title"
                class="fs-1-2">
            <strong>
              <%= link_to blog.title, blog_path(blog.id), class: "link-dark" %>
            </strong>
          </div>
          <div  id="card-description-infos"
                class="color-dark fs-0-8">
            <%= "#{l blog.created_at, format: :date_short} · 
            #{blog.content.to_s.scan(/\w+/).size / 250} min · " %>
            <% if blog.published %>
              Published
            <% else %>
              Draft
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
