<style>
@media only screen and (min-width: 576px) {
  #card {
    margin-left: 10px; 
    min-width: 380px;
    max-width: 380px;
  }
}
</style>
<div class="container-fluid pt-20">
  <% if current_user && current_user.admin? %>
    <%= link_to 'New Post', new_blog_path, class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Back', root_path, class: 'btn btn-secondary' %>

  <h1>Newsletters</h1>

  <div id="blogs" class="d-flex flex-wrap">
    <% @blogs.each do |blog| %>
      <div  id="card"
            class="d-flex flex-row bg-light border-shadow mb-20 border-radius py-5 w-100">
        <a href="#"></a>
        <div  id="card-picture"
              class="d-flex align-items-center justify-content-center p-5"
              style="width: 100px;height: 100px;">
          <% if blog.picture.attached? %>
            <%= image_tag blog.picture.variant(:thumb), class: "border-radius" %>
          <% else %>
            <%= image_tag 'cast.svg',
                class: "avatar-medium bg-dark p-10" %>
          <% end %>
        </div>
        <div  id="card-description" 
              class="ml-15 d-flex flex-column bg-light justify-content-between">
          <div  id="card-description-author"
                class="color-dark fs-0-8">
            <%= blog.user.username %>
          </div>
          <div  id="card-description-title"
                class="fs-1-2">
            <strong>
              <%= link_to blog.title, blog_path(blog.id), class: "link-dark" %>
            </strong>
          </div>
          <div  id="card-description-infos"
                class="color-dark fs-0-8">
            <%= "#{l blog.created_at, format: :date_short} · 
            #{blog.content.to_s.scan(/\w+/).size / 250} min · " %>
            <% if blog.published %>
              <span class="tag-success">Published</span>
            <% else %>
              <span class="tag-warning">Draft</span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
