<div class="container-md p-20">
  <% if current_user && current_user.admin? %>
    <%= link_to 'Edit Post', edit_blog_path(@blog), class: 'btn btn-warning' %>
    <span style="display: inline-block;">
      <%= button_to "Destroy this blog", 
        @blog, method: :delete,
        class: "btn btn-danger mt-5" %>
    </span>
  <% end %>
  <%= link_to 'Summary', blogs_path, class: 'btn btn-secondary' %>

  <h1><%= @blog.title %></h1>

  <%= render @blog %>

</div>
