<h1 class="text-center color-dark"><%= t('trip_request.title') %></h1>
<%= simple_form_for trip_request, data: { turbo: false }, html: { class: "row" } do |f| %>
  <% if @trip_request.errors.any? %>
    <div class="alert-danger">
      <p><%=  t("forms.messages.errors", count: @trip_request.errors.count) %> </p>
      <ul>
        <% @trip_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="airport-searcher" data-airport-searcher-base-url-value="<%= @base_url %>" class="col-12">
    <%= f.input :airport_id, as: :hidden, input_html: {readonly: "readonly", size: 4, data: { airport_searcher_target: "airportId" }} %>
    <%= f.input :user_id, as: :hidden, readonly: "readonly", size: 4 %>
    <div class="searcher">
      <%= f.label t('activerecord.attributes.pilot_pref.airport'), class: "form-label" %>
      <div class="position-relative">
        <%= text_field_tag "search" ,
                            @airport_full_name,
                            placeholder: t('trip_request.search_placeholder'),
                            size: 30,
                            data: { action: "keyup->airport-searcher#eventKey", airport_searcher_target: "searchbox" },
                            class: "form-control form-searcher",
                            required: true %>
        <button type="button"
                class="btn position-absolute end-0 top-0"
                data-action="click->airport-searcher#clearSearcher">Ｘ
        </button>
      </div>
      <ul id="results" data-airport-searcher-target="resultList" class="w-100">
      </ul>
    </div>
  </div>

  <div class="col-6">
    <%= f.input :start_date, input_html: { min: Date.today }, as: :date, html5: true %>
  </div>
  <div class="col-6">
    <%= f.input :end_date, input_html: { min: Date.today, max: Date.today + 7.days }, as: :date, html5: true %>
  </div>

  <div class="col-6">
    <%= f.input :international_flight %>
  </div>
  <div class="col-6">
    <%= f.input :small_airport, wrapper_html: { style: "margin-bottom: 0.25rem !important" } %>
    <%= f.input :medium_airport, wrapper_html: { style: "margin-bottom: 0.25rem !important" } %>
    <%= f.input :large_airport %>
  </div>
  <hr>
  <h4 class=""><%= t('trip_request.poi') %></h4>
  <p class="color-danger"><b>👇 <%= t('trip_request.filter_warning') %></b></p>
  <div class="d-flex col-6 col-md-4">
    <%= f.input :proxy_coastline, label: false %>
    <%= image_tag(PoiCatalogue.inventory['coastline']['icon'], size: "24x24", alt:"coastline", class: "mr-10") %>
    <%= f.label :proxy_coastline %>
  </div>
  <div class="d-flex col-6 col-md-4">
    <%= f.input :proxy_lake, label: false %>
    <%= image_tag(PoiCatalogue.inventory['lake']['icon'], size: "24x24", alt:"lake", class: "mr-10") %>
    <%= f.label :proxy_lake %>
  </div>
  <div class="d-flex col-6 col-md-4">
    <%= f.input :proxy_hiking_path, label: false %>
    <%= image_tag(PoiCatalogue.inventory['hiking_path']['icon'], size: "24x24", alt:"hiking_path", class: "mr-10") %>
    <%= f.label :proxy_hiking_path %>
  </div>
  <div class="d-flex col-6 col-md-4">
    <%= f.input :proxy_food, label: false %>
    <%= image_tag(PoiCatalogue.inventory['food']['icon'], size: "24x24", alt:"food", class: "mr-10") %>
    <%= f.label :proxy_food %>
  </div>
  <div class="d-flex col-6 col-md-4">
    <%= f.input :proxy_beverage, label: false %>
    <%= image_tag(PoiCatalogue.inventory['beverage']['icon'], size: "24x24", alt:"beverage", class: "mr-10") %>
    <%= f.label :proxy_beverage %>
  </div>
  <div class="d-flex col-6 col-md-4">
    <%= f.input :proxy_shop, label: false %>
    <%= image_tag(PoiCatalogue.inventory['shop']['icon'], size: "24x24", alt:"shop", class: "mr-10") %>
    <%= f.label :proxy_shop %>
  </div>
  <div class="d-flex col-6 col-md-4">
    <%= f.input :proxy_camp_site, label: false %>
    <%= image_tag(PoiCatalogue.inventory['camp_site']['icon'], size: "24x24", alt:"camp_site", class: "mr-10") %>
    <%= f.label :proxy_camp_site %>
  </div>
  <div class="d-flex col-6 col-md-4">
    <%= f.input :proxy_accommodation, label: false %>
    <%= image_tag(PoiCatalogue.inventory['accommodation']['icon'], size: "24x24", alt:"accommodation", class: "mr-10") %>
    <%= f.label :proxy_accommodation %>
  </div>
  <div class="d-flex col-6 col-md-4">
    <%= f.input :proxy_fuel_car, label: false %>
    <%= image_tag(PoiCatalogue.inventory['fuel_car']['icon'], size: "24x24", alt:"fuel_car", class: "mr-10") %>
    <%= f.label :proxy_fuel_car %>
  </div>
  <div class="d-flex col-6 col-md-4">
    <%= f.input :proxy_bike_rental, label: false %>
    <%= image_tag(PoiCatalogue.inventory['bike_rental']['icon'], size: "24x24", alt:"bike_rental", class: "mr-10") %>
    <%= f.label :proxy_bike_rental %>
  </div>
  <div class="d-flex col-6 col-md-4">
    <%= f.input :proxy_car_rental, label: false %>
    <%= image_tag(PoiCatalogue.inventory['car_rental']['icon'], size: "24x24", alt:"car_rental", class: "mr-10") %>
    <%= f.label :proxy_car_rental %>
  </div>
  <div class="d-flex col-6 col-md-4">
    <%= f.input :proxy_bus_station, label: false %>
    <%= image_tag(PoiCatalogue.inventory['bus_station']['icon'], size: "24x24", alt:"bus_station", class: "mr-10") %>
    <%= f.label :proxy_bus_station %>
  </div>
  <div class="d-flex col-6 col-md-4">
    <%= f.input :proxy_train_station, label: false %>
    <%= image_tag(PoiCatalogue.inventory['train_station']['icon'], size: "24x24", alt:"train_station", class: "mr-10") %>
    <%= f.label :proxy_train_station %>
  </div>

  <div class="col-12">
    <%= f.submit t('trip_request.submit'), class: "btn btn-primary mt-3 w-100" %>
  </div>
<% end %>
