<div class="container-sm bg-color3 d-flex flex-column border border-radius border-color2 mb-10" style="margin-bottom: 10px!important;">
  <div class="w-100">
    <h1 class="text-center mb-5 mt-5"><%= @trip_request.airport.icao %></h1>
    <h2 class="text-center mt-0 color-light"><%= @trip_request.airport.name %></h2>
    <% if @trip_request.airport.icao.length > 4 %>
      <h2 class="text-center mt-0">(<%= @trip_request.airport.local_code %>)</h2>
    <% end %>
  </div>
  <div class="d-flex flex-row justify-content-around align-items-center">
    <div class="d-flex flex-column align-items-center" >
      <p><b>outbound</b> <%= l @trip_request.start_date, format: :date_short %></p>
      <img src="https://openweathermap.org/img/wn/<%= @outbound_weather_data["weather"][0]["icon"] %>@2x.png" alt="weather icon">
      <p class="my-0"><%= @outbound_weather_ok ? "✅" : "❌" %></p>
      <p class="my-5"><%= @outbound_weather_data["weather"][0]["description"] %></p>
      <p class="my-0"><%= "#{@outbound_weather_data["wind_deg"]}°#{winds_ms_to_kts(@outbound_weather_data["wind_speed"])} kts" %></p>
    </div>
    <div class="d-flex flex-column align-items-center" >
      <p><b>inbound</b> <%= l @trip_request.end_date, format: :date_short %></p>
      <img src="https://openweathermap.org/img/wn/<%= @inbound_weather_data["weather"][0]["icon"] %>@2x.png" alt="weather icon">
      <p class="my-0"><%= @inbound_weather_ok ? "✅" : "❌" %></p>
      <p class="my-5"><%= @inbound_weather_data["weather"][0]["description"] %></p>
      <p class="my-0"><%= "#{@inbound_weather_data["wind_deg"]}°#{winds_ms_to_kts(@inbound_weather_data["wind_speed"])} kts" %></p>
    </div>
  </div>
  <%= link_to t('forms.back'), new_trip_request_path, class: "btn btn-primary my-10" %>
</div>

<%= render "weather_outlook" %>
