<% require 'rgeo' %>
<% require 'rgeo/geos' %>

<div class="container">
  <h1><%= t('trip_suggestions.index.title') %></h1>
  <h2><%= t('trip_suggestions.index.summary') %></h2>
  <table>
    <tr>
      <td><b><%= t('activerecord.attributes.trip_request.airport') %>:</b></td>
      <td><%= "#{@trip_request.airport.name} (#{@trip_request.airport.icao})" %></td>
    </tr>
    <tr>
      <td><b><%= t('activerecord.attributes.trip_request.start_date') %>:</b></td>
      <td><%= format_offset_date_human(@trip_request.start_date.to_date - Date.current) %></td>
    </tr>
    <tr>
      <td><b><%= t('activerecord.attributes.trip_request.end_date') %>:</b></td>
      <td><%= format_offset_date_human(@trip_request.end_date.to_date - Date.current) %></td>
    </tr>
  </table>

  <h2><%= t('trip_suggestions.index.title') %></h2>

  <% @top_destinations.each_with_index do |destination,index| %>
    <div>
      <div id="top_destination_<%= index + 1 %>" class="bg-color3 p-5 m-5 border-radius"> 
        <div class="top_desinations__airport">
          <h3 class="color-light"><%= "#{NormalizeCountry(destination[:airport].country.code, :to => :emoji)} #{destination[:airport].city} (#{destination[:airport].country.name})" %></h3>
          <p><%= "#{destination[:airport].name} (#{destination[:airport].icao})" %>
          <span class="tag-outline-dark ml-5"><%= destination[:airport].airport_type %></span>
          </p>
        </div>
        <div class="top_destinations__flight_track" data-controller="collapse">
          <span class="collapse-marker" data-action="click->collapse#toggle">▼</span>
          <span><b>Flight track</b></span>
          <div  id="flight_track_<%= index + 1 %>" 
                class="collapse show bg-light px-5 border-radius" 
                data-collapse-target="content">
            <ul>
              <li><%= "Distance: #{destination[:flight_track].distance_km}km (#{destination[:flight_track].distance_nm}nm)" %></li>
              <li><%= "Flight time: #{destination[:flight_track].average_flight_time_min}min" %></li>
              <li><%= "Bearing: #{destination[:flight_track].bearing}°" %></li>
          </div>
        </div>
        <div class="top_destinations__poi" data-controller="collapse">
          <% poi_count_group = poi_count_groups(destination[:airport], @trip_request) %>
          <% total_poi_sum = poi_count_group.values.sum %>
          <span class="collapse-marker" data-action="click->collapse#toggle">▶</span>
          <span><b><%= "Point of interests near Aiport (#{total_poi_sum})" %></b></span>
          <div id="group_pois_<%= index + 1 %>" class="collapse bg-light px-5 border-radius" data-collapse-target="content">
            <ul>
              <% poi_count_group.each do |key,value| %>
                <li><%= "#{get_group_icon(key)} #{key} (#{value})" %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="top_destinations__warnings" data-controller="collapse">
          <span class="collapse-marker" data-action="click->collapse#toggle">▶</span>
          <span><b><%= "Warnings (#{destination[:flight_track].warnings.count})" %></b></span>
          <div id="warning_<%= index + 1 %>" class="collapse bg-warning px-5 border-radius" data-collapse-target="content">
            <ul>
              <% destination[:flight_track].warnings.each do |warning| %>
                <li class=""><%= warning %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>


  <h2><%= t('trip_suggestions.index.flyzone_map') %></h2>
  <% if @fake_weather %>
    <p class="tag-danger">fake weather</p>
  <% else %>
    <p class="tag-success">real weather</p>
  <% end %>
  <p><%= @airports_flyzone_map.count %> Airports found</p>
  <div class="map-container" \
        data-controller="osm" \
        data-osm-target="map" \
        data-osm-airports-matching-criterias-map-value="<%= @airports_matching_criterias_map.to_json %>" \
        data-osm-airports-flyzone-map-value="<%= @airports_flyzone_map.to_json %>" \
        data-osm-departure-airport-value="<%= @departure_airport.first.to_json %>" \
        data-osm-flyzone-common-polygon-value="<%= @flyzone_common_polygons %>" \
        data-osm-flyzone-outbound-value="<%= @flyzone_outbound %>" \
        data-osm-flyzone-inbound-value="<%= @flyzone_inbound %>" \
        data-osm-flight-tracks-value="<%= @flight_tracks.to_json %>" \>
  </div>

  <div class="my-20">
    <%= link_to t('trip_request.buttons.new_trip_request'), new_trip_request_path, class: "btn btn-secondary" %>
  </div>
</div>
