<div class="d-flex flex-row justify-content-center">
  <div>
    <p>All good, you gonna fly, silly boy. ⚠️  Work in progress ⚠️ </p>
    <p>You asked for a <b><%= @trip_request.trip_mode %></b> departing from <b><%= @trip_request.airport.name %></b>.</p>
  </div>
  <div style="margin: auto;">
    <%= link_to "New Trip Request", new_trip_request_path, class: "btn btn-secondary" %>
  </div>
</div>
<div class="map-container" \
      data-controller="osm" \
      data-osm-target="map" \
      data-osm-airports-value="<%= @airports_array.to_json %>" \
      data-osm-weather-tiles-value="<%= @tiles %>" \
</div>
