<div class="container">
  <h1>Destinations from <%= @trip_request.airport.icao %></h1>
  <% if @fake_weather %>
    <p class="tag-danger">fake weather</p>
  <% else %>
    <p class="tag-success">real weather</p>
  <% end %>
  <div class="map-container" \
        data-controller="osm" \
        data-osm-target="map" \
        data-osm-airports-value="<%= @airports_array.to_json %>" \
        data-osm-airport-value="<%= @trip_request.airport.to_json %>" \
        data-osm-flyzone-common-polygon-value="<%= @flyzone_common_polygons %>" \
        data-osm-flyzone-outbound-value="<%= @flyzone_outbound %>" \
        data-osm-flyzone-inbound-value="<%= @flyzone_inbound %>" \>
  </div>
  <div class="my-20">
    <%= link_to "New Trip Request", new_trip_request_path, class: "btn btn-secondary" %>
  </div>
</div>
