<header>
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag("full-logo-early-dark.png", alt: "Weekend-fly logo", height: 64) %>
    <% end %>
  </div>
  <nav>
    <div class="nav-links" data-controller="submenu">
      <div class="nav-lang">
        <p data-action="click->submenu#displayMenuFlag"><%= displayFlag(locale) %></p>
        <div class="nav-lang-content" data-submenu-target="flag">
          <% I18n.available_locales.each do |loc| %>
            <% current_locale = params[:locale] || I18n.default_locale.to_s %>
            <% new_full_path = request.fullpath.sub("/#{current_locale}", "") %>
            <% new_locale = loc.to_s %>
            <% new_locale_param = (new_locale == "en") ? nil : new_locale %>
            <% new_url = "#{root_url(locale: new_locale_param)}#{new_full_path}" %>
            <p><%= link_to displayFlag(loc), new_url %></p>
          <% end %>
        </div>
      </div>

      <div data-action="click->submenu#displayMenuAccount">
        <% if user_signed_in? %>
          <% if current_user.picture.attached? %>
            <%= image_tag(current_user.picture.variant(:thumb), class: "nav-account avatar-medium") %>
          <% else %>
            <% initials = current_user.username[0] %>
            <p class="avatar-fake m-5 bg-color1 color-light"><%= initials.upcase %></p>
          <% end %>
        <% else %>
          <%= image_tag("user-light.svg", class: "nav-account") %>
        <% end %>
        <div class="account-menu-content" data-submenu-target="account">
          <% if user_signed_in? %>
            <p><%= link_to t("shared.account"), edit_user_registration_path %></p>
            <p><%= link_to t("pilot_prefs.menu"), edit_pilot_pref_path(current_user) %></p>
            <p><%= link_to t("shared.sign_out"), destroy_user_session_path, data: {turbo_method: :delete} %></p>
            <% if current_user.role == "admin" %>
              <p><%= link_to t("shared.console"), blazer_path %></p>
            <% end %>
          <% else %>
            <p><%= link_to t("shared.sign_in"), new_user_session_path(redirect_to: request.path) %></p>
            <p><%= link_to t("shared.sign_up"), new_user_registration_path %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div data-controller="burger" data-action="click->burger#menu" class="burger">
      <%= image_tag("menu-light.svg", class: "icon", data: { burger_target: 'icon'}) %>
      <div class="burger-menu-content" data-burger-target="burger">
        <p><%= link_to t("shared.home"), root_path %></p>
        <% if user_signed_in? %>
          <p><%= link_to t("shared.account"), edit_user_registration_path %></p>
          <p><%= link_to t("pilot_prefs.menu"), edit_pilot_pref_path(current_user) %></p>
          <p><%= link_to t("shared.sign_out"), destroy_user_session_path, data: {turbo_method: :delete} %></p>
          <% if current_user.role == "admin" %>
            <p><%= link_to t("shared.console"), blazer_path %></p>
          <% end %>
        <% else %>
          <p><%= link_to t("shared.sign_in"), new_user_session_path(redirect_to: request.path) %></p>
          <p><%= link_to t("shared.sign_up"), new_user_registration_path %></p>
        <% end %>
        <div class="nav-lang">
          <% I18n.available_locales.each do |loc| %>
            <p><%= link_to displayFlag(loc), root_path(locale: loc) %></p>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>
