<%# locals: (event:) %>

<%= form_with model: event, data: { turbo: false } do |f| %>
  <div class="form-inputs">
    <% if event.errors.any? %>
      <div class="alert-danger">
        <p><%=  t("forms.messages.errors", count: event.errors.count) %> </p>
        <ul>
          <% event.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label           :title,
                          class: "form-label" %>
    <%= f.text_field      :title,
                          class: "form-control mb-10" %>

    <div class="d-flex gap-15">
      <div class="w-50">
        <%= f.label           :airport_id,
                              class: "form-label" %>
        <div class="mb-15">
          <%= f.collection_select :airport_id,
                                  @airports,
                                  :id,
                                  :name,
                                  {},
                                  { class: "form-control" } %>
        </div>
      </div>
      <div class="w-50">
        <%= f.label           :kind, class: "form-label" %>
        <div class="mb-15">
          <%= f.select        :kind,
                              Event.kinds.keys,
                              {},
                              class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="d-flex gap-15">
      <div class="w-50">
        <%= f.label           :start_date,
                              class: "form-label" %>
        <%= f.date_field      :start_date,
                              class: "form-control mb-10" %>
      </div>
      <div class="w-50">
        <%= f.label           :end_date,
                              class: "form-label" %>
        <%= f.date_field      :end_date,
                              class: "form-control mb-10" %>
      </div>
    </div>

    <%= f.label           :image_link,
                          class: "form-label" %>
    <%= f.text_field      :image_link,
                          class: "form-control mb-10" %>

    <%= f.label           :url,
                          class: "form-label" %>
    <%= f.text_field      :url,
                          class: "form-control mb-10" %>
  </div>
  <div class="form-actions d-flex justify-content-center my-20">
    <%= f.submit t('forms.submit'), class: "btn btn-primary w-100" %>
  </div>
<% end %>
