<%# locals: (events:) %>

<section class="container-xl d-flex flex-column py-20">
  <h1 class="text-center">Events near you</h1>
  <div class="cards">
    <% events.each do |event| %>
      <div class="card-trip">
        <%= image_tag event.image_link, alt: event.title %>
        <div class="card-trip-infos">
          <div>
            <h2><%= event.title %></h2>
            <p><%= event.airport.name %></p>
          </div>
          <p><%= event.start_date.strftime("%d/%m/%y") %> - <%= event.end_date.strftime("%d/%m/%y") %></p>
        </div>
      </div>
    <% end %>
  </div>
</section>
