<section class="container-fluid bg-color3 d-flex flex-column py-20">
  <h1 class="text-center">Comment ça marche</h1>
  <div class="d-flex flex-row justify-content-around flex-wrap">
    <div class="d-flex flex-column align-items-center m-15 card-small">
      <div><%= image_tag("sliders.svg", style: "height:100px; width:auto") %></div>
      <h2 class="color-dark text-center">Préférences pilote</h2>
      <p class="text-center lh-base">
      <b class="color-primary">Votre façon de voler, vos règles.</b> Définissez votre niveau d'aversion pour la météo, la longueur de piste minimale et d'autres règles pour obtenir des résultats sur mesure. Toutes les destinations que nous vous proposerons correspondront à vos préférences.
      </p>
      <p class="text-center">
        <%= link_to "En savoir plus",
          root_path,
          class: "btn btn-dark",
          style: "font-size: 1em;",
          onclick: "event.preventDefault();" %>
      </p>
    </div>
    <div class="d-flex flex-column align-items-center m-15 card-small">
      <div><%= image_tag("briefcase.svg", style: "height:100px; width:auto") %></div>
      <h2 class="color-dark text-center">Trouver des destinations</h2>
      <p class="text-center lh-base"><b class="color-primary">Le temps est précieux.</b> Envie d'un déjeuner, de partir en week-end, voir plus longtemps, il vous suffit de nous dire ce que vous attendez de votre destination. Et <b class="color-primary">seulement là ou la météo vous accueille!</b></p>
      <p class="text-center">
        <%= link_to "En savoir plus",
          root_path,
          class: "btn btn-dark",
          style: "font-size: 1em;",
          onclick: "event.preventDefault();" %>
      </p>
    </div>
    <div class="d-flex flex-column align-items-center m-15 card-small">
      <div><%= image_tag("message-circle.svg", style: "height:100px; width:auto") %></div>
      <h2 class="color-dark text-center">Communauté</h2>
      <p class="text-center lh-base">
      <b class="color-primary">Les pilotes ne font confiance qu'aux pilotes</b><br>Partagez vos expériences, évaluez les lieux, suivez des pilotes inspirants, partagez des informations utiles à la communauté. Profitez de la communauté.
      </p>
      <p class="text-center">
        <%= link_to "En savoir plus",
          root_path,
          class: "btn btn-dark",
          style: "font-size: 1em;",
          onclick: "event.preventDefault();" %>
      </p>
    </div>
  </div>
  <%= image_tag('paper_plane.svg', style: "width:200px;position: relative;
bottom: -50px;left: 50px") %>
</section>
