<section class="container-fluid bg-color2 d-flex flex-column py-20">
  <h1 class="text-center">What you'll get</h1>
  <div class="d-flex flex-row justify-content-around flex-wrap">
    <div class="d-flex flex-column align-items-center m-15 card-small">
      <div><%= image_tag("globe.svg", style: "height:100px; width:auto") %></div>
      <h2 class="color-dark">Coverage</h2>
      <p class="text-center lh-base">
      We are travel focus. There are treasures all around Europe ✨. We'll progressively extend the point of interests <b class="color-primary">near airports</b> over all Europe.</br>
      <p class="text-center text-decoration-underline">Currently covered</p>
      <p class="text-center m-0"> 
      <% @countries_array.each do |country| %>
        <%= NormalizeCountry(country, :to => :emoji) %>
      <% end %>
      </p>
    </div>
    <div class="d-flex flex-column align-items-center m-15 card-small">
      <div><%= image_tag("map-pin.svg", style: "height:100px; width:auto") %></div>
      <h2 class="color-dark">Point of interests</h2>
      <p class="text-center lh-base">
        A sample of what you'll be able to access:
      <p>
      <table>
        <tr>
          <td style="min-width: 50px; text-align: center;"><%= image_tag(PoiCatalogue.inventory[:accommodation][:icon], style: "height:32px; width:auto") %></td>
          <td class="color-primary text-center" style="font-size: 1.75em;"><%= "#{readable_number(@accomodation_count)}" %></td>
          <td style="min-width: 50px; text-align: center;"><%= image_tag(PoiCatalogue.inventory[:food][:icon], style: "height:32px; width:auto") %></td>
          <td class="color-primary" style="font-size: 1.75em;"><%= "#{readable_number(@food_count)}" %></td>
        </tr>
        <tr>
          <td style="min-width: 50px; text-align: center;"><%= image_tag(PoiCatalogue.inventory[:bus_station][:icon], style: "height:32px; width:auto") %></td>
          <td class="color-primary" style="font-size: 1.75em;"><%= "#{readable_number(@bus_station_count)}" %></td>
          <td style="min-width: 50px; text-align: center;"><%= image_tag(PoiCatalogue.inventory[:bike_rental][:icon], style: "height:32px; width:auto") %></td>
          <td class="color-primary" style="font-size: 1.75em;"><%= "#{readable_number(@bike_rental_count)}" %></td>
        </tr>
        <tr>
          <td style="min-width: 50px; text-align: center;"><%= image_tag(PoiCatalogue.inventory[:camp_site][:icon], style: "height:32px; width:auto") %></td>
          <td class="color-primary" style="font-size: 1.75em;"><%= "#{readable_number(@camp_site_count)}" %></td>
          <td style="min-width: 50px; text-align: center;"><%= image_tag(PoiCatalogue.inventory[:car_rental][:icon], style: "height:32px; width:auto") %></td>
          <td class="color-primary" style="font-size: 1.75em;"><%= "#{readable_number(@car_rental_count)}" %></td>
        </tr>
      </table>
    </div>
    <div class="d-flex flex-column align-items-center m-15 card-small">
      <div><%= image_tag("inbox.svg", style: "height:100px; width:auto") %></div>
      <h2 class="color-dark">Weekend Tips</h2>
      <p class="text-center lh-base">
      Don't know what's going on this weekend? Receive every Wednesday <b class="color-primary">tailor-made</b> suggestions per email on upcoming week end! Short trips, longer one, events and more! But only where weather will be flyable! 🔆</p>
    </div>
  </div>
</section>
