<%#= render 'seo' %>
<div class="container-fluid">
  <div class="d-flex flex-column align-items-center bg-color2">
    <h1 class="text-center" style="padding-left: 1em;padding-right: 2em;"><%= t('pages.home.hero_one') %></h1>
    <h3 class="color-dark text-center"><%= t('pages.home.hero_two') %></h3>
    <div><%= image_tag("screen.png", class: "border-radius border-shadow mw-100 h-auto") %></div>
    <p class="text-center" style="margin: 50px;">
      <%= link_to t('pages.home.banner-button'),
        new_trip_request_path,
        class: "btn btn-primary",
        style: "font-size: 1.5em;" %>
    </p>
  </div>
</div>
<% if user_signed_in? %>
  <%= render 'airport_searcher' %>
<% end %>
<%= render 'how_it_works' %>
<%= render 'what_you_get' %>
<% unless user_signed_in? %>
  <%= render 'sustainable' %>
<% end %>
<%= render 'subscribers/form' %>
<%= render 'footer' %>
