<%# locals: (pilot:, airports:) %>

<%= form_with model: pilot, data: { turbo: false } do |f| %>
  <div class="form-inputs">
    <% if pilot.errors.any? %>
      <div class="alert-danger">
        <p><%=  t("forms.messages.errors", count: pilot.errors.count) %> </p>
        <ul>
          <% pilot.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="d-flex gap-15">
      <div class="w-50">
        <%= f.label           :airport_id,
                              class: "form-label" %>
        <div class="mb-15">
          <%= f.collection_select :airport_id,
                                  airports,
                                  :id,
                                  :name,
                                  {},
                                  { class: "form-control" } %>
        </div>
      </div>
      <div class="w-25">
        <%= f.label           :airport_role, class: "form-label" %>
        <div class="mb-15">
          <%= f.select        :airport_role,
                              Pilot.airport_roles.keys,
                              {},
                              class: "form-control" %>
        </div>
      </div>
      <div class="w-25">
        <%= f.label           :aircraft_type,
                              class: "form-label" %>
        <%= f.text_field      :aircraft_type,
                              class: "form-control mb-10" %>
      </div>
    </div>

    <%= f.label           :bio,
                          class: "form-label" %>
    <%= f.text_area      :bio,
                          class: "form-control mb-10",
                          size: "50x5" %>
  </div>
  <div class="form-actions d-flex justify-content-center my-20">
    <%= f.submit t('forms.submit'), class: "btn btn-primary w-100" %>
  </div>
<% end %>
