<div id="airport-background" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path "lux_airport.png" %>)"></div>
<div class="container">
  <div id="airport-header">
    <div>
      <h1><%= "#{NormalizeCountry(@airport.country.code, :to => :emoji)} #{@airport.name} (#{@airport.icao})" %></h1>
      <div class="display_airport_poi mb-20 d-flex gap-5">
        <% get_airport_poi_icons(@airport).each do |icon| %>
          <%= image_tag(icon) %>
        <%end %>
      </div>
    </div>
    <div class="text-end">
      <div class="d-flex gap-10">
        <%= link_to "ðŸ‘ðŸ»", "#", class: "btn btn-light" %>
        <%= link_to "I've been here", "#", class: "btn btn-primary" %>
      </div>
      <p><a class="link-dark font-weight-bold" data-action="click->modals#display"><%= pluralize(@pilots.count, "pilot") %></a> based here</p>
    </div>
  </div>
  <div data-modals-target="modal" class="modal">
    <div class="modal-content w-50">
      <div class="modal-content__title mb-15">
        <h1><%= pluralize(@pilots.count, "pilot") %></span> based here</h1>
        <span class="modal-close" data-action="click->modals#close">&times;</span>
      </div>
      <div class="modal-content__body">
        <% if @pilots.empty? %>
          <p>No pilot is based here</p>
        <% end %>

        <% @pilots.each do |pilot| %>
          <div class="card-user">
            <% if pilot.user.picture.attached? %>
              <%= image_tag(pilot.user.picture.variant(:thumb), class: "nav-account avatar-medium") %>
            <% else %>
              <% initials = pilot.user.username[0] %>
              <p class="avatar-fake m-5 bg-color1 color-light"><%= initials.upcase %></p>
            <% end %>
            <div class="card-user-info">
              <p><%= pilot.user.username %></p>
              <p><%= pilot.user.email %></p>
            </div>
            <div class="card-user-action">
              <%= link_to "+ Follow", "#", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>

      <div>
        <%= link_to "Close", "#", class: "btn btn-secondary", data: { action: "click->modals#close" } %>
      </div>
    </div>
  </div>

  <div id="airport-content">
    <div class="grouped-card">
      <div class="card">
        <div class="card-section">
          <div class="d-flex justify-content-between align-items-center mb-20">
            <h4><b>Facility data</b></h4>
            <div class="d-flex gap-10">
              <%= link_to @vac_link, target: "_blank", class: "btn-contact d-flex align-items-center gap-5" do %>
                VAC
                <%= image_tag "pdf.png", alt: "pdf", height: 20 %>
              <% end %>
              <%= link_to "https://skyvector.com/?ll=#{@airport.latitude},#{@airport.longitude}&chart=301&zoom=2", target: "_blank", class: "btn-contact d-flex align-items-center gap-5" do %>
                Chart
                <%= image_tag 'external-link.png', alt: "link", height: 20 %>
              <% end %>
            </div>
          </div>
          <div class="d-flex justify-content-between mb-10">
            <p><b><%= t('airport.show.location') %></b></p>
            <p><%= @airport.city %></p>
          </div>
          <div class="d-flex justify-content-between mb-10">
            <p><b><%= t('airport.show.local_code') %></b></p>
            <p><%= @airport.local_code %></p>
          </div>
          <div class="d-flex justify-content-between mb-10">
            <p><b><%= t('airport.show.iata') %></b></p>
            <p><%= @airport.iata %></p>
          </div>
          <div class="d-flex justify-content-between mb-10">
            <p><b><%= t('airport.show.facility_type') %></b></p>
            <p><%= @airport.airport_type %></p>
          </div>
          <div class="d-flex justify-content-between mb-10">
            <p><b><%= t('airport.show.coordinates') %></b></p>
            <p><%= "#{@airport.latitude.round(4)},#{@airport.longitude.round(4)}" %></p>
          </div>
          <div class="d-flex justify-content-between mb-10">
            <p><b><%= t('airport.show.field_elevation') %></b></p>
            <p><%= "#{@airport.altitude} ft MSL" %></p>
          </div>
          <div class="d-flex justify-content-between mb-10">
            <p><b><%= t('airport.show.website') %></b></p>
            <%= link_to @airport.url, @airport.url, target: "_blank", class: "color-dark" %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-sections">
          <h4 class="mb-20"><b>Runways</b></h4>
          <% @runways.each do |runway| %>
              <div class="d-flex justify-content-between">
                <p><b><%= "#{runway.le_ident} #{runway.he_ident}" %></b></p>
                <p><%= "#{runway.length_meter}m X #{runway.width_meter}m" %></p>
                <p><%= "Surface #{runway.surface.capitalize}" %></p>
                <p>
                  <% if runway.lighted %>
                    <%= "ðŸ’¡ Lighted" %>
                  <% else %>
                    <%= "Not lighted" %>
                  <% end %>
                </p>
              </div>
            <% end %>
        </div>
      </div>
      <div class="card">
        <div class="card-section">
          <div class="d-flex justify-content-between align-items-center mb-20">
            <h4><b><%= t('activerecord.models.fuel_station') %></b></h4>
            <% if @airport.fuel_station.nil? %>
              <%= link_to 'Register New', new_fuel_station_path(airport_id: @airport), class: "btn btn-secondary" %>
            <% else %>
              <%= link_to t('airport.show..edit'), edit_fuel_station_path(@airport.fuel_station), class: "link-dark" %>
            <% end %>
          </div>
          <% if @airport.fuel_station.nil? %>
            <p>No fuel station known</p>
          <% else %>
            <div>
              <div class="d-flex justify-content-between mb-10">
                <div class="d-flex align-items-center gap-10">
                  <%= image_tag(display_fuel_provider_logo(@airport)) %>
                  <b class="fs-1-2"><%= @airport.fuel_station.provider %></b>
                  <% case @airport.fuel_station.status %>
                  <% when FuelStation.statuses.keys[0] %>
                    <div class="badge-status-green"></div>
                  <% when FuelStation.statuses.keys[1] %>
                    <div class="badge-status-yellow"></div>
                  <% when FuelStation.statuses.keys[2] %>
                    <div class="badge-status-red"></div>
                  <% end %>
                </div>
                <div class="d-flex align-items-center gap-10">
                  <%= link_to 'ðŸ“ž Call', "tel:#{@airport.fuel_station.phone}", title: @airport.fuel_station.phone, class: "btn btn-contact" if @airport.fuel_station.phone.present? %>
                  <%= link_to 'âœ‰ï¸ Email', "mailto:#{@airport.fuel_station.email}", title: @airport.fuel_station.email, class: "btn btn-contact" if @airport.fuel_station.email.present? %>
                </div>
              </div>
              <div class="mb-10">
                <div class="d-flex gap-10 align-items-center mb-5">
                  <p class="text-center">
                    <% case @airport.fuel_station.fuel_avgas_100ll %>
                    <% when FuelStation.fuel_avgas_100lls.keys[0] %>
                      <span><%= image_tag('circle-cross.png') %>
                    <% else %>
                      <span><%= image_tag('circle-checked.png') %>
                    <% end %>
                  </p>
                  <p><b><%= t('activerecord.attributes.fuel_station.fuel_avgas_100ll') %> </b></p>
                  <p class="text-center">
                    <% if @airport.fuel_station.fuel_avgas_100ll == FuelStation.fuel_avgas_100lls.keys[2] %>
                      <span class="tag-success"><%= @airport.fuel_station.fuel_avgas_100ll %></span>
                    <% end %>
                  </p>
                </div>
                <div class="d-flex gap-10 align-items-center mb-5">
                  <p class="text-center">
                    <% case @airport.fuel_station.fuel_avgas_91ul %>
                    <% when FuelStation.fuel_avgas_91uls.keys[0] %>
                      <span><%= image_tag('circle-cross.png') %>
                    <% else %>
                      <span><%= image_tag('circle-checked.png') %>
                    <% end %>
                  </p>
                  <p><b><%= t('activerecord.attributes.fuel_station.fuel_avgas_91ul') %> </b></p>
                  <p class="text-center">
                    <% if @airport.fuel_station.fuel_avgas_91ul == FuelStation.fuel_avgas_91uls.keys[2] %>
                      <span class="tag-success"><%= @airport.fuel_station.fuel_avgas_91ul %></span>
                    <% end %>
                  </p>
                </div>
                <div class="d-flex gap-10 align-items-center mb-5">
                  <p class="text-center">
                    <% case @airport.fuel_station.fuel_mogas %>
                    <% when FuelStation.fuel_mogas.keys[0] %>
                      <span><%= image_tag('circle-cross.png') %>
                    <% else %>
                      <span><%= image_tag('circle-checked.png') %>
                    <% end %>
                  </p>
                  <p><b><%= t('activerecord.attributes.fuel_station.fuel_mogas') %> </b></p>
                  <p class="text-center">
                    <% if @airport.fuel_station.fuel_mogas == FuelStation.fuel_mogas.keys[2] %>
                      <span class="tag-success"><%= @airport.fuel_station.fuel_mogas %></span>
                    <% end %>
                  </p>
                </div>
                <div class="d-flex gap-10 align-items-center mb-5">
                  <p class="text-center">
                    <% case @airport.fuel_station.charging_station %>
                    <% when FuelStation.charging_stations.keys[0] %>
                      <span><%= image_tag('circle-cross.png') %>
                    <% else %>
                      <span><%= image_tag('circle-checked.png') %>
                    <% end %>
                  </p>
                  <p><b><%= t('activerecord.attributes.fuel_station.charging_station') %> </b></p>
                  <p class="text-center">
                    <% if @airport.fuel_station.charging_station == FuelStation.charging_stations.keys[2] %>
                      <span class="tag-light"><%= @airport.fuel_station.charging_station %></span>
                    <% end %>
                  </p>
                </div>
              </div>

              <% unless @audit_log_fuel_station.nil? %>
                <span class="fs-0-8">
                  <%= " #{t('airport.show.last_update_by')} #{@audit_log_fuel_station.user.username},
                      #{l @audit_log_fuel_station.updated_at, format: :date_short} ,
                      #{extract_time_from_date(@audit_log_fuel_station.updated_at)}" %>
                </span>
              <% end %>

            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-sections">
        <h4 class="mb-20"><b><%= t('trip_suggestions.index.forecast') %></b></h4>
        <%= render partial: "forecast", locals: { forecast_hash: @forecast_hash } %>
      </div>
    </div>
  </div>

  <!--
  <div class="top_destinations__poi mt-20" data-controller="collapse">
    <% poi_count_group = PoiCatalogue.count_groups_per_airport(@airport) %>
    <% total_poi_sum = poi_count_group.values.sum %>
    <span class="collapse-marker badge bg-dark color-light" data-action="click->collapse#toggle">+</span>
    <span><b><%= t('trip_request.poi') %></b></span>

    <div id="group_pois" class="collapse p-10 border bg-light border-dark border-radius mt-15" data-collapse-target="content">
        <%#  begin group poi content %>
        <% poi_count_group.each do |key,value| %>
          <% next if key == 'coastline' %>
          <div class="top_destinations__poi__details mt-5" data-controller="collapse">
            <span class="collapse-marker badge bg-dark color-light" data-action="click->collapse#toggle">+</span>
            <span><%= "#{display_poi_label(key)}" %></span>
            <span class="badge bg-primary color-light fs-0-8"><%= value %></span></br>
            <div  id="group_pois_<%= key %>"
                  class="collapse bg-light px-5 border-radius" data-collapse-target="content">
              <%#  begin sub-group poi content %>
              <ul>
                <% PoiCatalogue.poi_per_group_and_airport(@airport)[key].each do |group_detail|  %>
                  <% unless group_detail[:name].nil? %>
                    <li><%= group_detail[:name] %>
                      <span> (<%= group_detail[:distance] %>m)</span>
                      <%#  tags details %>
                        <% unless group_detail[:tags]["website"].nil? %>
                          <span class="ml-5">
                            <a class="link-primary" target="_blank" href="<%= group_detail[:tags]["website"] %>">web</a>
                          </span>
                        <% end %>
                        <% unless group_detail[:tags]["contact:website"].nil? %>
                          <span class="ml-5">
                            <a class="link-primary" target="_blank" href="<%= group_detail[:tags]["contact:website"] %>">web</a>
                          </span>
                        <% end %>
                        <% unless group_detail[:tags]["url"].nil? %>
                          <span class="ml-5">
                            <a class="link-primary" target="_blank" href="<%= group_detail[:tags]["url"] %>">web</a>
                          </span>
                        <% end %>
                      <%#  tags details %>
                    </li>
                  <% else %>
                    <li style="font-style: italic;">Data unavailable
                      <span> (<%= group_detail[:distance] %>m)</span>
                    </li>
                  <% end %>
                <% end %>
              </ul>
              <%# end sub-group poi content %>
            </div>
          </div>
        <% end %>
        <%# end group poi content %>

    </div>
  </div>
  -->

  <div class="map-container mt-20" \
        id="map" \
        data-controller="osm-details"  \
        data-osm-details-target="map" \
        data-osm-details-airport-value="<%= @airport.to_json %>"
        data-osm-details-points-value="<%= @points_array.to_json %>">
  </div>

</div>
