<%= simple_form_for @fuel_station, data: { turbo: false }, html: { class: "row" } do |f| %>
  <% if @fuel_station.errors.any? %>
    <div class="alert-danger">
      <p><%=  t("forms.messages.errors", count: @fuel_station.errors.count) %> </p>
      <ul>
        <% @fuel_station.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :airport_id, input_html: { readonly: "readonly" }, as: :hidden %>
  <div class="col-12 col-md-6">
    <%= f.input :provider, collection: FuelStation.providers.keys %>
  </div>
  <div class="col-12 col-md-6">
    <%= f.input :status, collection: FuelStation.statuses.keys %>
  </div>
  <div class="col-12 col-md-6">
    <%= f.input :fuel_avgas_100ll, collection: FuelStation.fuel_avgas_100lls.keys %>
  </div>
  <div class="col-12 col-md-6">
    <%= f.input :fuel_avgas_91ul, collection: FuelStation.fuel_avgas_91uls.keys %>
  </div>
  <div class="col-12 col-md-6">
    <%= f.input :fuel_mogas, collection: FuelStation.fuel_mogas.keys %>
  </div>
  <div class="col-12 col-md-6">
    <%= f.input :charging_station, collection: FuelStation.charging_stations.keys %>
  </div>
  <div class="col-12 col-md-6">
    <%= f.input :email %>
  </div>
  <div class="col-12 col-md-6">
    <%= f.input :phone %>
  </div>
  <div class="col-12">
    <%= f.submit t('fuel_station.form.submit'), class: "btn btn-primary w-100" %>
  </div>
<% end %>
