<div class="container-md d-flex flex-column align-items-center">
  <h1 class="text-center m-0"><%= t('fuel_station.manager') %></h1>
  <p class="tag-danger fs-1-2"><%= t('fuel_station.new_fuel_station') %></p>
  <h2 class="text-center"><%= "#{@airport.name} (#{@airport.icao})"  %></h2>
</div>
<div class="container-sm">
  <div class="border-radius bg-color3 mb-30">
    <%= render "form" %>
  </div>
  <div class="mb-20">
    <%= link_to t('fuel_station.back_airport'), airport_path(@airport), class: "btn btn-secondary" %>
  </div>
</div>
