<section class="container-fluid bg-primary d-flex flex-column py-10">
  <% if cookies[:saved_subscriber] %>
    <p class="text-center"><%= t('subscribers.form.thanks_sign_up')%></p>
  <% else %>
    <h1 class="text-center mb-10"><%= t('subscribers.form.subscribe') %></h1>
    <div class="container-sm d-flex flex-column align-items-center">
      <%= simple_form_for @subscriber, url: root_path, data: { turbo: false } do |f| %>
        <%= f.input :email %>
        <div class="d-flex mb-3">
          <%= f.input :accept_private_data_policy, label: false %>
          <div>
            <%= f.label :accept_private_data_policy, label: t("subscribers.form.acceptation") %>
            <%= link_to t('subscribers.form.privacy_policy'), legal_privacy_path, class: "link-light", target: "_blank" %>
          </div>
        </div>
        <%= f.input :honey_bot, as: :hidden %>
        <%= f.submit t('subscribers.form.submit'), class:"btn btn-dark" %>
      <% end %>
    </div>
  <% end %>
</section>
