<section class="container-fluid bg-primary d-flex flex-column py-10">
  <% if cookies[:saved_subscriber] %>
    <p class="text-center"><%= t('subscribers.form.thanks_sign_up')%></p>
  <% else %>
    <h1 class="text-center mb-10"><%= t('subscribers.form.subscribe') %></h1>
    <div class="container-sm d-flex flex-column align-items-center">
      <%= form_with model: @subscriber, url: root_path, data: { turbo: false } do |f| %>
        <div class="form-inputs">
          <%= f.email_field :email,
                            placeholder: t('activerecord.attributes.subscriber.email'),
                            class: "form-control mb-10" %>
          <%= f.label :accept_private_data_policy,
                       t("subscribers.form.acceptation") %>
          <%= link_to t('subscribers.form.privacy_policy'), legal_privacy_path, class: "link-light" %>
          <%= f.check_box :accept_private_data_policy %>

          <div class="form-actions mt-15">
            <%= f.submit t('subscribers.form.submit'), class:"btn btn-dark" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
